---
import AppLayout from '../../layouts/AppLayout.astro';
import PostHeader from '../../components/PostHeader.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.updatedDate.valueOf() - a.data.updatedDate.valueOf()
);
---

<AppLayout title="Blog | Insidert" description="Unveil the multifaceted world of Ravi Teja. This comprehensive blog dives into his business ventures, personal life, and even offers coding guides.">
  <h1>Blog</h1>
  <div>
    {
      posts.map((post) => (
        <PostHeader post={post} />
      ))
    }
  </div>
</AppLayout>

