---
import AppLayout from "../../layouts/AppLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");

const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<AppLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <h1>Tags</h1>
  <div>
    {
      tags.sort().map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>#{tag}</a>
        </p>
      ))
    }
  </div>
</AppLayout>
