---
import AppLayout from "../layouts/AppLayout.astro";
---

<AppLayout title="Connect with Ravi Teja" description="Connect with Ravi Teja Veligatla">
  <h1 class="mt-0">Connect</h1>
  <div style="display: flex; justify-content: space-between; flex-wrap: wrap;">
    <div>
      <a target="_blank" href="https://www.instagram.com/insidert_">Instagram</a>
    </div>
    <div>
      <a target="_blank" href="https://www.youtube.com/@insidert">YouTube</a>
    </div>
    <div>
      <a target="_blank" href="https://www.linkedin.com/in/ravitejaveligatla/">LinkedIn</a>
    </div>
    <div>
      <a target="_blank" href="https://twitter.com/insidert_">Twitter</a>
    </div>
    <div>
      <a target="_blank" href="https://medium.com/@insidert">Medium</a>
    </div>
  </div>
</AppLayout>
