---
import AppLayout from "../layouts/AppLayout.astro";
import PostHeader from "../components/PostHeader.astro";
import SearchBlog from "../components/SearchBlog.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
);

const featuredPosts = posts.filter(post => post.data.isFeatured)
---

<AppLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <small>inside</small>
  <h1 class="mt-0">Ravi Teja</h1>
  <p class="mb-0">
    Hi, I am an entrepreneur and co-founded <a href="https://prasanta.business" target="_blank">Prasanta Communications</a> with my brother. I love to code and build full-stack and mobile applications. I share my opinions, observations, code snippets and more on this blog.  
  </p>

  <SearchBlog />

  <div>
    <h4>Featured articles</h4>
    <div>
      {featuredPosts.map((post) => <PostHeader post={post} />)}
    </div>
  </div>

  <div>
    <h4>Featured Topics</h4>
    <div>
      <a href="/tags/code">Code</a>
    </div>
    <div>
      <a href="/tags/opinions">Opinions</a>
    </div>
    <div>
      <a href="/tags/business">Business</a>
    </div>
    <div>
      <a href="/tags/productivity">Productivity</a>
    </div>
  </div>

  <div>
    <h4>Find Me</h4>
    <div>
      <a target="_blank" href="https://www.instagram.com/insidert_">Instagram</a>
    </div>
    <div>
      <a target="_blank" href="https://www.youtube.com/@insidert">YouTube</a>
    </div>
    <div>
      <a target="_blank" href="https://www.linkedin.com/in/ravitejaveligatla/">LinkedIn</a>
    </div>
    <div>
      <a target="_blank" href="https://twitter.com/insidert_">Twitter</a>
    </div>
    <div>
      <a target="_blank" href="https://medium.com/@insidert">Medium</a>
    </div>
  </div>
</AppLayout>
