---
import AppLayout from "../layouts/AppLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<AppLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <p class="mb-0 text-center">
    Hi, I am the co-founder of Prasanta Communications. I love to code and solve problems with technology. I share my opinions, observations, code snippets and more on this blog.  
  </p>

  <p class="text-center">Check out <a href="https://prasanta.business" target="_blank">the projects we built</a> on our business website. Explore <a href="/tags/code">Code</a>, <a href="/tags/opinions">Opinions</a>, <a href="/tags/business">Business</a>, <a href="/tags/productivity">Productivity</a> topics.</p>
</AppLayout>
