---
import AppLayout from "../layouts/AppLayout.astro";
import SearchBlog from "../components/SearchBlog.astro";
---

<AppLayout title="Search the blog" description="Quickly find articles on Insidert">
  <h1 class="mt-0">Search</h1>
  <SearchBlog />

</AppLayout>
