---
const today = new Date();
---

<footer>
	
  <p class="mb-0">&copy; 2017. Ravi Teja Veligatla. All rights reserved.</p>
  <!-- <small>
    Source code on <a href="https://github.com/insidert/insidert" target="_blank">GitHub.</a> Built with <a href="https://github.com/insidert/insidert" target="_blank">Astro.</a></a>
  </small> -->
  
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
