---
const today = new Date();
---

<footer>
	<!-- &copy; {today.getFullYear()} YOUR NAME HERE. All rights reserved. -->
  <p class="mb-0">This site is still work in progress.</p>
  <small>
    Source code on <a href="https://github.com/insidert/insidert" target="_blank">GitHub.</a> Built with <a href="https://github.com/insidert/insidert" target="_blank">Astro.</a></a>
  </small>
  
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
