---
import DateFormatter from '../components/DateFormatter.astro';

const { post } = Astro.props;
---

<article class="post-tile">
  <small>
    <DateFormatter date={post.data.updatedDate}></DateFormatter>
  </small>
  <h3 class="mb-0 mt-0">
    <a href={`/blog/${post.slug}/`} class="text-primary">{post.data.title}</a>
  </h3>
  <p class="mt-0">{post.data.description}</p> 
</article>